{% block footer %}
<footer class="bg-dark text-white m-2" style="border-radius:12px">
  <div class="row container-fluid d-flex align-items-center">
    <div class="col">
      <span>LOGO</span>
    </div>
    <div class="col">
      <p>
        developed and maintained by
        <a class="text-decoration-none" href="https://github.com/ivan-d-ivanoff" target="_blank"
          >Ivan Ivanov</a
        >
      </p>
    </div>
    <div class="col">
        <a target="_blank" class="text-decoration-none" href="https://softuni.bg/">
            <i class="fa-solid fa-graduation-cap" style="color: #ff8800;"></i>
            SoftUni
        </a>
    </div>
  </div>
</footer>
{% endblock footer %}
