{% block footer %}

{% load static %}
<footer class="bg-dark text-white m-2 mt-auto p-4" style="border-radius:12px">
  <div class="row container-fluid d-flex align-items-center">
    <div class="col">
      <img src="{% static 'images/favicon.svg' %}" style="max-width: 100px" alt="logo">
    </div>
    <div class="col">
      <p>
        developed and maintained by
        <a class="text-decoration-none fw-bold" href="https://github.com/ivan-d-ivanoff" target="_blank"
          >Ivan Ivanov</a
        >
      </p>
    </div>
    <div class="col">
        <a target="_blank" class="text-decoration-none fw-bold" href="https://softuni.bg/">
            <i class="fa-solid fa-graduation-cap" style="color: #ff8800;"></i>
            SoftUni
        </a>
    </div>
  </div>
</footer>
{% endblock footer %}
