{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<style>
    a {
        text-decoration: none;
    }
</style>
<section class="m-2 text-light">
    <h1 class="mb-5" style="padding-left:12px">Your playlists</h1>

    <div class="container-fluid" style="margin-bottom:100px;">
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 text-light">

          {% for playlist in playlists %}
            <div class="col">
                <a href="{% url 'playlist_details' playlist.pk %}">
                    {% if song.image %}
                    <img src="path-to-song1-thumbnail.jpg" class="card-img-top " alt="playlist-image">
                    {% else %}
                     <img src="{% static 'images/default_playlist.PNG' %}" class="card-img-top" alt="default-playlist-image">
                    {% endif %}
                    <div class="card-body p-0 ps-2">
                        <h4 class="m-0 text-light"
                        style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 150px;
                      ">{{ playlist.name }}
                        </h4>
                        <a href="{% url 'playlist_update' playlist.pk %}">Edit</a>
                        <a href="{% url 'playlist_delete' playlist.pk %}">Delete</a>
                    </div>
                </a>
            </div>
          {% endfor %}              
        </div>
    </div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    {% else %}
        <a>&lt;</a>
    {% endif %}

    {{ page_obj.number }} / {{ paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    {% else %}
        <a>&gt;</a>
    {% endif %}
</section>

{% endblock content %}
    