{% extends 'base/base.html' %}

{% block content %}

<style>
    a {
        text-decoration: none;
    }
</style>

<section class="container-fluid m-3 text-light">
    
    <h1>{{ song.title }}</h1>

    <div class="d-flex gap-3">
        <h3>by {{ song.artist }}</h3>
        <a class="btn btn-primary" href="{% url 'song_update' song.pk  %}">Update</a>
        <a class="btn btn-primary" href="{% url 'song_delete' song.pk %}">Delete</a>
    </div>

    <audio class="w-100 mt-5" controls>
        <source src="{{ song.audio_file.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
</section>

{% endblock content %}
