{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<style>
    * {
        color: #f8f9fa;
    }
    a {
        text-decoration: none;
    }
</style>

<section class="m-3">
    <h2>Confirm deletion</h2>
    <h2>Song to delete: {{ song.title }} by {{ song.artist }}</h2>
    <p>Are you sure you want to delete this song?</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Confirm</button>
        <a href="{% url 'home' %}">Cancel</a>
    </form>
</section>



{% endblock %}