{% extends 'base/base.html' %} {% load static %} {% block content %}

<style>
  a {
    text-decoration: none !important;
  }
  .card:hover {
    background-color: red !important;
  }
</style>

<main class="text-light">
  <div class="container-fluid m-2" style="margin-bottom:100px !important;">
    <h1>Home Page</h1>

    {% if user.is_authenticated %}
    <h4>Welcome {{ user }}</h4>
    {% endif %}
  </div>

  <div class="container w-50 ms-2" style="margin-bottom:100px !important;">
    <h2 class="mb-3">Your Playlists</h2>
    {% if user.is_authenticated %} {% if playlists %}
    <ul class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for playlist in playlists %}
      <li class="col">
        <a href="{% url 'playlist_details' playlist.pk %}">
          <div class="card border-0 p-2 bg-dark">
            {% if playlist.image %}
            <img
              class="card-img-top"
              src="{{ playlist.image.url }}"
              alt="playlists-image"
            />
            {% else %}
            <img
              class="card-img-top"
              src="{% static 'images/default_playlist.PNG' %}"
              alt="playlists-image"
            />
            {% endif %}
            <div class="card-body bg-dark p-0 pt-3">
              <h6
                class="card-title text-light"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 150px;
                "
              >
                {{ playlist.name }}
              </h6>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="fw-bold" href="{% url 'playlist_list' %}">Show all</a>
    {% else %}
    <h5>
      You still haven't created a playlist
      <a href="{% url 'playlist_create' %}">Create a Playlist</a>
    </h5>
    {% endif %} {% else %}
    <h5>
      Here you will see all your playlists. Just
      <a href="{% url 'user_login' %}">login</a>
      or
      <a href="{% url 'user_register' %}">create an account</a>
    </h5>
    {% endif %}
  </div>

  <div class="container w-50 ms-2" style="margin-bottom:100px !important;">
    <h2 class="mb-3">Your Songs</h2>
    {% if user.is_authenticated %} {% if songs %}
    <ul class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for song in songs %}
      <li class="col">
        <a href="{% url 'song_details' song.pk %}">
          <div class="card border-0 p-2 bg-dark">
            {% if song.image %}
            <img
              class="card-img-top"
              src="{{ song.image.url }}"
              alt="song-image"
            />
            {% else %} <img class="card-img-top"
            image src="{% static 'images/default_playlist.PNG' %}"
            alt="song-image" /> {% endif %}
            <div class="card-body bg-dark p-0 pt-3">
              <h6
                class="card-title text-light"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 150px;
                "
              >
                {{ song.title }}
              </h6>
              <p
                class="card-title text-light"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 150px;
                "
              >
                {{ song.artist }}
              </p>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="fw-bold" href="{% url 'custom_songs_list' %}">Show all</a>
    {% else %}
    <h5>
      You still haven't created a playlist
      <a href="{% url 'song_add' %}">Add a Song</a>
    </h5>
    {% endif %} {% else %}
    <h5>
      Here you will see all your songs. Just
      <a href="{% url 'user_login' %}">login</a>
      or
      <a href="{% url 'user_register' %}">create an account</a>
    </h5>
    {% endif %}
  </div>

  
  {% if search_results %}
    
  {% endif %}
    
</main>
{% endblock %}
