{% extends 'base/base.html' %} {% load static %} {% block content %}
<style>
  * {
    color: #f8f9fa
  }
  img {
    max-width: 250px;
    margin-bottom: 12px;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  .hidden-input {
    display: none;
  }
  .image-label img {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .image-label:hover img {
    opacity: 0.5;
    cursor: pointer;
  }
</style>
<section class="m-3">
  <h1 class="mb-5">User Details</h1>

<div>
  {% if profile.image %}
  <div>
    <label for="id_image" class="image-label">
      <img
        src="{{ profile.image.url }}"
        alt="custom-profile-pic"
        id="profile-image"
      />
    </label>
    <input type="file" name="image" id="id_image" class="hidden-input" />
  </div>
  {% else %}
  <div>
    <label for="id_image" class="image-label">
      <img
        src="{% static 'images/no_profile.jpg' %}"
        alt="default-profile-pic"
        id="profile-image"
      />
    </label>
    <input type="file" name="image" id="id_image" class="hidden-input" />
  </div>
  {% endif %}
  <h5>Username: {{ user.username }}</h5>
  <h5>Email: {{ user.email }}</h5>
  
  {% if profile.date_of_birth %}
    <h5>Date of birth: {{ profile.date_of_birth }}</h5>
  {% else %}
    <h5>Date of birth: not set</h5>
  {% endif %}
    
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fw-bold" href="{% url 'custom_songs_list' %}">Your Songs</a>
        <a class="nav-link fw-bold" href="{% url 'user_update' profile.pk %}">Update Account</a>
        <a class="nav-link fw-bold" href="{% url 'user_delete' user.pk %}">Delete Account</a>
      </li>
    </ul>
  </nav>
</div>
</section>

{% endblock content %}
