{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<style>
    * {
      color: #f8f9fa;
    }
</style>

<section class="form-group m-3">
    <form action="{% url 'user_login' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button class="btn btn-primary">Login</button>
            or
            <a href="{% url 'user_register' %}">
                <button class="btn btn-primary">Register</button>
            </a>
        </div>
    </form>
</section>

{% endblock %}